<nav>
    <div class="site-title">
        <a href="/">
            <h1>Simple blog</h1>
        </a>
        <p>This is a simple blog using Nodejs and mangodb</p>
    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">Create</a></li>
    </ul>
</nav>